h1{
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
}

h2{
    font-family: Georgia;
    font-weight: bold;
    font-size: 45px;
}

h3{
    font-family: Georgia;
    font-weight: bold;
    font-size: 55px;
}

h4{
    font-family: Georgia;
    font-weight: bold;
    font-size: 65px;
}

h5{
    font-family: Georgia;
    font-weight: bold;
    font-size: 1px;
}
