body {
    background-color: #212121;
    margin: 0;
    display: grid;
  }
  body img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1;
    opacity: 0.7;
    z-index: 0;
  }
  body h1 {
    margin: 0;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 130px;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }
  body a {
    font-family: 'Teko', sans-serif;
    color: #4db1bc;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-self: center;
    padding-bottom: 1rem;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 60px #34b3c1, 0 0 10px #ffffff;
    }
  }
  